<html>
	<head><title>Image Color Analysis - Top <%= settings.max_colors %> colors</title></head>
	<body>
		<h2>Color Analysis Result</h2>
		<div style="width: 50%; float: left">
			<h3>Original image</h3><p></p>
			<img src=<%= "'#{@url}'"%>  style="height: 100%; width: 100%"/>
		</div>
		<div style="width: 48%; float: right">
			<h3>(Top <%= settings.max_colors %> colors)</h3>
			<p></p>
		<% if !@h.nil?
			@h.each { |key, value| %> 
			<div style="height: 100px; width: 55px; float: left; margin-right: 10px; font-size: 12px">
				<div <%= "style='height: 55; width: 55px; background-color: #{key.to_s}; border-width:1px; border-style:solid;'" %>></div>
				<div align=center>
				<%= key.to_s %><br/>
				<%= "(#{value.to_s}%)" %>
				</div>	
			</div>
			<% } %>
		<% end %>
		</div>
	</body>
</html>